<%- include('./partials/header.ejs', {title: 'Create Paste'}) %>

<div style="margin:0 5rem;padding:1rem 2rem;">
    <br/>
    <h2>Welcome Admin</h2>
    <a class="link"  href="/admin/logout">Logout</a>
    <br/>
    <br/>
    <a class="link" href="/admin/deleteAll">Delete All Pastes</a>
</div>
</body>
</html>