<h3>Register To App</h3>

<p style="color :red ;"> <%= ErrorMessage %></p> 
<form method="post">
    <label>username : <input type="text" name="username" id="" placeholder="username" /></label>
    <br /><br />
    <label>password :
        <input type="password" name="password" id="" placeholder="password" /></label><br />
    <br />
    <label>confirm password :
        <input type="password" name="confirmPassword" id="" placeholder="Confirm Password" /></label><br />
    <br />
    <button type="submit">Register</button>
</form>

</body>
</html>